body {
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
}

#root {
  width: 100%;
}

a {
  text-decoration: none;
  color: #0056b3;
}
a:hover {
  text-decoration: underline;
}